.container {
  width: fit-content;
  position: relative;
}

.btn {
  position: relative;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.2rem 6rem;
  border-radius: 1rem;
  color: var(--white);
  transform: rotate(3deg);
  transform-origin: left top;
  transition: all 0.25s ease;
}

.wrap {
  position: relative;
  display: inline-block;
}

.wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--yellow-dark);
  border-radius: 1rem;
  transform-origin: left top;
  transform: translate(0.1rem, 0.2rem) rotate(5deg);
  z-index: 0;
  transition: transform, 0.35s ease;
  pointer-events: none;
}
.icon {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 4.4rem;
  height: auto;
  transition: all 0.25s ease;
}

.wrap:hover::before {
  transform: translate(0, 0) rotate(0deg);
}

.wrap:hover .btn {
  transform: rotate(0deg);
  background-color: var(--green-dark);
}
.wrap:hover + .icon {
  transform: translateY(-1rem) scale(1.08);
}

.greenBtn {
  border: solid 0.2rem var(--green-dark);
  background-color: var(--green-light);
}
