/* .root {
  width: 100%;
  height: 100%; 
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-x: contain;
  touch-action: pan-y; 
  cursor: grab;
  isolation: isolate;
}

.dragging {
  cursor: grabbing;
  user-select: none;
  -webkit-user-select: none;
}

.locking {
  touch-action: none;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transform-origin: center center;
  transition: transform 220ms ease; 
  will-change: transform;
}

.item,
.item * {
  -webkit-user-drag: none; 
} */
