.container {
  padding: 10rem 0;
}

.frame {
  position: relative;
  width: 70%;
  transform: rotate(-6deg);
}

.artistImg {
  display: block;
}

@media (min-width: 768px) {
  .frame {
    max-width: 50rem;
  }
}

/* @media (min-width: 1280px) {
  .frame {
    width: 50%;
    max-width: 80rem;
  }
} */
