.scrollTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  cursor: pointer;
  background-color: var(--white);
  animation: bounce 1.5s infinite ease-in-out;
}

.scrollTop.visible {
  opacity: 1;
  visibility: visible;
}

.scrollTop svg {
  width: 5rem;
  height: auto;
}

/* Animación */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
