.slider {
  position: relative;
  touch-action: pan-y;
  cursor: grab;
  z-index: 0;
}

.sliderServices {
  height: 40rem;
}

.sliderGallery {
  height: 24rem;
}

.dragging {
  cursor: grabbing;
  -webkit-user-select: none;
  user-select: none;
}
.locking {
  touch-action: none;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: transform 220ms ease;
  will-change: transform;
}

@media (min-width: 768px) {
  .sliderGallery {
    height: 46rem;
  }
}

@media (min-width: 1024px) {
  .sliderServices {
    height: 44rem;
  }
}
