.pencilImg,
.discoImg {
  position: absolute;
  height: auto;
}

.pencilImg {
  width: 20rem;
  transform: translate(6.5rem, -6.5rem);
  z-index: 1;
}

.dogImg {
  width: 45rem;
  height: auto;
}
.discoImg {
  width: 15rem;
  bottom: 0;
  left: 2rem;
}

.imgsBox {
  position: relative;
}

@media (min-width: 1024px) {
  .dogImg {
    width: 60rem;
  }
  .discoImg {
    width: 22rem;
  }
}
