.slidersBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.galleryImg img {
  width: 28rem;
  height: auto;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.headImg,
.liquidImg,
.nocillaImg {
  position: absolute;
  height: auto;
}

.headImg {
  width: 16rem;
  top: 18%;
  left: 6%;
}
.liquidImg {
  width: 12rem;
  top: 43%;
  right: 6%;
}
.nocillaImg {
  width: 14rem;
  bottom: 24%;
  left: 6%;
}

.btnGroup {
  position: relative;
}

.iconBox {
  position: absolute;
  top: -7rem;
  left: 9rem;
}

.iconBox svg {
  width: 15rem;
  height: auto;
}

@media (min-width: 768px) {
  .galleryImg img {
    width: 42rem;
  }

  .headImg {
    width: 24rem;
  }

  .liquidImg {
    width: 19rem;
  }

  .nocillaImg {
    width: 22rem;
  }
}

@media (min-width: 1024px) {
  .galleryImg img {
    width: 50rem;
  }
}
@media (min-width: 1440px) {
  .headImg {
    width: 32rem;
  }

  .liquidImg {
    width: 26rem;
  }

  .nocillaImg {
    width: 29rem;
  }
}
