.main {
  position: relative;
  padding: 8rem 2rem;
  background-image: var(--bg-img);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-color: var(--violet-light);
  background-position: 20% 80%;
  margin-top: -6rem;
  z-index: -1;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(15, min-content);
}
.title1 {
  display: contents;
  font-family: var(--font-seconday);
}

.highlight {
  font-family: var(--font-tertiary);
  color: var(--white);
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: clamp(5rem, 8vw, 11rem);
}

.t {
  font-size: clamp(3.5rem, 8vw, 11rem);
}

.t1 {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.t2 {
  grid-column: 1/-1;
  grid-row: 4/5;
}
.t3 {
  grid-column: 1/-1;
  grid-row: 5/6;
}
.t4 {
  grid-column: 3/-1;
  grid-row: 6/7;
  text-align: end;
}
.t5 {
  grid-column: 2/-1;
  grid-row: 7/8;
  text-align: end;
}
.t6 {
  grid-column: 1/3;
  grid-row: 9/10;
}
.t7 {
  grid-column: 1/3;
  grid-row: 10/11;
}
.t8 {
  grid-column: 3/-1;
  grid-row: 11/12;
  text-align: end;
}
.t9 {
  grid-column: 3/-1;
  grid-row: 12/13;
  text-align: end;
}

.art {
}

.art1 {
  grid-column: 1/3;
  grid-row: 6/9;
  width: 80%;
}
.art2 {
  grid-column: 2/-1;
  grid-row: 8/11;
  width: 73%;
  justify-self: end;
}
.art3 {
  grid-column: 1/3;
  grid-row: 11/14;
}
