.grid {
  max-width: 120rem;
  position: relative;
  width: 130%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
  margin-bottom: 15rem;
  justify-items: center;
}

.testimonial {
  width: 90%;
  max-width: 45rem;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  gap: 2rem;
  margin-top: -3rem;
}
.testimonial1 {
  position: relative;
  background-image: url("/images/bubble/bubble-1.png");
  padding: 6rem;
  transform: rotate(5deg);
  z-index: 1;
}
.testimonial2 {
  background-image: url("/images/bubble/bubble-2.png");
  padding: 6rem;
  transform: rotate(-4deg);
}
.testimonial3 {
  position: relative;
  background-image: url("/images/bubble/bubble-3.png");
  padding: 6rem;
  transform: rotate(9deg);
  z-index: 1;
}
.testimonial4 {
  background-image: url("/images/bubble/bubble-4.png");
  padding: 8rem 7rem 12rem 7rem;
  transform: rotate(3deg);
}

.testimonial p {
  font-size: 1.8rem;
  text-align: center;
}
.testimonial span {
  font-size: 2.2rem;
  font-family: var(--font-seconday);
}
.peanutImg,
.sirImg,
.magicianImg {
  position: absolute;
  height: auto;
  z-index: 2;
}

.peanutImg {
  width: 16rem;
  top: 11%;
  right: 5%;
}
.sirImg {
  width: 18rem;
  top: 50%;
  left: 5%;
}
.magicianImg {
  width: 29rem;
  bottom: -18%;
  right: 20%;
}

@media (min-width: 500px) {
  .grid {
    width: 90%;
  }

  .testimonial {
    max-width: 60rem;
  }

  .testimonial1,
  .testimonial3 {
    justify-self: flex-start;
  }
  .testimonial2,
  .testimonial4 {
    justify-self: flex-end;
  }

  .peanutImg {
    width: 16rem;
    top: 8%;
    right: 0;
  }
}

@media (min-width: 768px) {
  .peanutImg {
    width: 22rem;
    top: 3%;
    right: -4%;
  }

  .sirImg {
    width: 26rem;
    left: -5%;
  }

  .magicianImg {
    width: 34rem;
    bottom: -24%;
    right: 32%;
  }
}

@media (min-width: 1024px) {
  .grid {
    margin-top: 10rem;
  }
  .testimonial {
    margin-top: -8rem;
  }
  .peanutImg {
    top: -9%;
  }

  .sirImg {
    width: 36rem;
    left: 4%;
    top: 60%;
  }
}

@media (min-width: 1280px) {
  .peanutImg {
    width: 26rem;
    right: 16%;
  }
}
