@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Bagel+Fat+One&family=Slackey&display=swap");

:root {
  --font-primary: "Advent Pro", sans-serif;
  --font-seconday: "Slackey", sans-serif;
  --font-tertiary: "Bagel Fat One", system-ui;

  --bg-img: url("/images/background.png");

  --black: #232323;
  --white: #fbf7f0;
  --cream: #f5eada;

  --violet-light: #9c53a2;
  --violet-dark: #525281;
  --green-light: #349388;
  --green-dark: #1a4742;
  --yellow-dark: #ca8937;
  --yellow-light: #ffca4c;
  --blue-dark: #2b74a6;
  --blue-light: #347e93;

  --orange-light: #ff8459;
  --red-dark: #a63820;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  background-color: var(--violet);
}
picture {
  display: block;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  text-align: center;
}

h3 {
  width: 60%;
  font-size: 3.4rem;
  text-align: center;
}

/* picture img:hover {
  transform: scale(1.5);
} */

.u--violet-letter {
  color: var(--violet-light);
  font-size: 3.2rem;
}

.u--violet-text {
  color: var(--violet-light);
  font-family: var(--font-primary);
  font-size: 4rem;
}

.u--strong-text {
  font-family: var(--font-seconday);
}

.u--paragraph {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
}

.u--content-box {
  max-width: 200rem;
  margin: -12rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 0 10rem 0;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  overflow: hidden;
}

.u--content-box--violet {
  background-color: var(--violet-light);
  background-position: 10% 30%;
}
.u--content-box--orange {
  background-color: var(--orange-light);
  background-position: 180% 150%;
}
.u--content-box--blue {
  background-color: var(--blue-light);
  background-position: 10% 40%;
}
.u--content-box--green {
  background-color: var(--green-light);
  background-position: 50% 70%;
}

@media (min-width: 480px) {
  /* sm: móviles grandes */
}

@media (min-width: 768px) {
  /* html {
    font-size: 68.75%; 
  } */
}

@media (min-width: 1024px) {
  /* html {
    font-size: 75%;
  } */
}

@media (min-width: 1280px) {
  /* html {
    font-size: 80%;
  } */
}
