@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Bagel+Fat+One&family=Slackey&display=swap");

:root {
  --font-primary: "Advent Pro", sans-serif;
  --font-seconday: "Slackey", sans-serif;
  --font-tertiary: "Bagel Fat One", system-ui;

  --bg-img: url("/images/background.png");

  --black: #232323;
  --white: #fbf7f0;
  --cream: #f5eada;

  --violet-light: #9c53a2;
  --violet-dark: #525281;
  --green-light: #349388;
  --green-dark: #1a4742;
  --yellow-dark: #ca8937;
  --yellow-light: #ffca4c;
  --blue-dark: #2b74a6;
  --blue-light: #347e93;

  --orange-light: #ff8459;
  --red-dark: #a63820;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  background-color: var(--violet);
}

img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  font-family: var(--font-primary);
}

h3 {
  width: 60%;
  font-size: 3rem;
  text-align: center;
}

/* picture img:hover {
  transform: scale(1.5);
} */

.u--violet-text {
  color: var(--violet-light);
  font-family: var(--font-primary);
  font-size: 4rem;
}

.u--strong-text {
  font-family: var(--font-seconday);
}

@media (min-width: 480px) {
  /* sm: móviles grandes */
}

@media (min-width: 768px) {
  html {
    font-size: 68.75%; /* ≈11px */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 80%;
  }
}
